{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block header %}

    <div class="container pt-5">
        <div class="row">
            <div class="col d-flex">
                <div class="jumbotron my-auto">
                    <h1 class="display-4">Oops! An Error Occurred <i class="far fa-frown"></i></h1>
                    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
                    <p>Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</a>.</p>
                </div>    
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="fixed-bottom">
        <div class="container">
            <div class="row mt-5 pt-2">
                <div class="col">
                    <p class="text-center">SnowTricks, all rights reserved <i class="far fa-copyright"></i> 2018</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}