{# templates/email/reset-password.html.twig #}
<h3>Snowtricks - Hi {{ user.username }} !</h3>

Reset your password : <a href="{{ url('security_reset-password', {'resetToken': user.resetToken}) }}">Reset</a>
<br>
<br>
Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/home.jpg')) }}">